.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: teal;
  width: fit-content;
  .title {
    font-size: x-large;
    text-align: center;
  }
  .form-control {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    font-size: large;
    input {
      padding: 0.25rem 1rem;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    .button {
      padding: 0.5rem 1rem;
      font-size: large;
      color: white;
      border: none;
      border-radius: 0.5rem;
      &[type="reset"] {
        background-color: red;
      }
      &[type="submit"] {
        background-color: green;
      }
    }
  }
}
